<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe1b6">  <td>20/05/14 14:59:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base_test.closeappln()[pri:0, instance:generic.generic.Register@4f063c0a]">&lt;&lt;closeappln</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/05/14 14:58:22</td>   <td>-39832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base_test.openappln()[pri:0, instance:generic.generic.Register@4f063c0a]">&gt;&gt;openappln</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>20/05/14 14:58:31</td>   <td>-30088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.testregister()[pri:0, instance:generic.generic.Register@4f063c0a]">testregister</td> 
  <td>main@1613255205</td>   <td></td> </tr>
</table>
